@model ReletionshipRepstryType.WebApp.ViewModel.StateVm
@{

}
<div class="container">
    <form asp-action="CreateOrEdit" asp-controller="State" method="post">
        
            <div class="col-md-6">
                <label asp-for="CountryID"></label>
            <select asp-for="CountryID" class="form-control" asp-items="@ViewBag.CountryId">
                   <option value="">--Select Country Name-- </option>
               </select>
                <span asp-validation-for="CountryID" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class=" form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
        
        <input type="submit" class=" btn btn-sm btn-success mt-3" value="Save" />
    </form>
</div>